@font-face {
    font-family: "PoppinsBold";
    src: url("fonts/Poppins/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "PoppinsMedium";
    src: url("fonts/Poppins/Poppins-Medium.ttf");
  }
  
  body {
    padding: 0px;
    margin: 0px;
  }
  
  .navbar {
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
  }
  .logo {
    flex-grow: 1.5;
  }
  .logo > img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 100%;
  }
  .name{
    display: inline-block;
    color: white;
    width: 90px;
    text-align: center;
    font-size: 18px;
    font-family: PoppinsMedium;
    
  }
  .headings {
    flex-grow: 2;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
  }
  
  li {
    display: inline-block;
    color: white;
    width: 90px;
    text-align: center;
    font-size: 18px;
    font-family: PoppinsMedium;
    cursor: pointer;
  }
  .icons{
    width: 40px;
  }
  
  li{
    color: gray;
  }
  
  .background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(-45deg, #5c5858, #2e2e2e, #6e6e6e, #585758, rgb(41, 40, 40), #3a3838);
    background-size: 600% 600%;
    animation: gradientAnimation 6s ease-in-out infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 h1{
  display: inline-block;
  color: white;
  width: 90px;
  text-align: center;
  font-size: 50px;
  font-style: oblique;
 }
 
  h3{
    display: inline-block;
    color: white;
    width: 90px;
    text-align: center;
    font-size: 18px;
    font-style: oblique;
  }

  h4{
    display: table-row;
    color: white;
    width: 90px;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
  }

  
  
  button {
    background-color:transparent;
    height: 40px;
    width: 180px;
    border-color: black;
    cursor: pointer;
    font-size: 16px;
    font-style: oblique;
  }
  
  button:hover {
    color: white;
    border-color: white;
  }
  button{
    color: white;
  }
  .underline {
    text-decoration: underline;
  }
  p{
    display: inline-block;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-style:oblique;
    
  }
  h2{
    color: white;
    font-style: inherit;
  }

  .my-link {
    color: white;
    text-decoration: underline;
  }
  
 